body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.container{
  max-width: 100%;
  margin: 0 10% 0 10%;
}

#jumbotron-div{
  text-align: center;
  padding: 40px 0 40px 0;
  font-size: 900;
}

#jumbotron{
  max-width: 100%;
  height:150px;
  background: url('../images/jumbotron.jpg') center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: antiquewhite;

}


#footer{
  background-color: antiquewhite;
  padding: 15px 0 15px 0;
}

.searchResult{
  width: 100%
}

.searchResult thead{
  border: 1 px solid #dddddd;
  padding: 7px;
  text-align: center;
  font-weight: bold;
}

.searchResult tbody td{
  border: 1 px solid #dddddd;
  padding: 7px;
  text-align: center;
}